jobs:
  include:
  - os: windows
    language: shell
    before_install:
    - choco install python --version=3.6.8
    - /c/Python36/python -m venv $HOME/venv
    - source $HOME/venv/Scripts/activate
    - python -m pip install --upgrade pip
    env: CMAKE_GENERATOR="Visual Studio 15 2017 Win64"
  - os: linux
    language: python
    python: "3.6"
    deploy:
      provider: pypi
      user: "__token__"
      password:
        secure: "f15F+HQhViB4UHoVs90GpbfPirUwTwugMp7tAs7sWPzQ7+9VEM+KTWeYnaUXnM9GO4zULtflOPRF4ViEhQyc7/M//9v99WKmKuBOPEtXvC8kPpbDwY/DWGw4ms/1yLrpkCTUW1RLXrACgMtD3tyJ3Z0NHyENMzDE3HMxud8qKNwwml3vtvf584Q1C6XDUHY3bZjUSwHw/1/nCja1SfmvdLvW8zvma9phRjbz86OKqWAHzn7LAKwEdKDi1dis3PfVmNwHzwYD2lFoZ331LhrtfKmy7K8+ki6wvaDvPY+hrT3BcWBJsrBWnD0sPbp+YUviVLf7QYF8AJAl3KCCh/H9dbtafcMiShvfAgzOMKLMEuo7S66v+DsjBZ5Qgkalp2yYa+beutOUI5NZUbH3LQ69VGFcII4VDTKvSzQ7LWnZR4jnQ8skfjDQkUr4nWK2cr7M4IX7rTv45kUp8u13UKrzq8PI11vzpiNfIdeKJBL+AdRfsk2d878U1hYc5bEZ8DU3bDyLHdd4diEDEq/xZh1jhOH23wZmrFtNjb0EHh4SL8fABiEFIvUQ4xBcPo9dCytAqEMskuvrjK8vysgaaWfv1GiPeR99SdIilEEdAOrFypX83MGs9/J67QxH94kUS7NcZFJ+Vcv/cmIiQ/V7phqLZbVv4n+Ax1vbyYNSR3Li0BQ="
      distributions: "sdist"
      skip_existing: true
  - os: linux
    language: python
    python: "3.6"
    env: LCMS_THREADS=4
branches:
  only:
  - master
  - develop
install:
- pip install -r build-requirements.txt
- python setup.py install
script:
- pip install -r requirements.txt
- pytest tests
